<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- import jquery-3 -->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="static/css/style.css"> -->
  <link rel="stylesheet" href="static/css/style.css">
  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <title>Home</title>
</head>

<body>
  <div class="w3-container w3-teal">
    <center>
      <h1>SHOP INVENTORY SYSTEM</h1>
  </div>
  </center>
  </div>
  <!-- Sidebar -->
  <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
    <h3 class="w3-bar-item">Menu</h3>
    <a href="#" class="w3-bar-item w3-button" id="dashboard"><i class="fa fa-tachometer"
        aria-hidden="true"><br></i>Dashboard</a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-hand-spock-o" aria-hidden="true"><br></i>Stocks</a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-money" aria-hidden="true"><br></i>Transactions</a>
    <button class="dropdown-btn"><i class="fa fa-product-hunt" aria-hidden="true"></i>Products
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown">
      <ul>
        <li><a id="gadgets" href="#">Gadgets</a></li>
        <li><a id="groceries" href="#">Groceries</a></li>
        <li><a id="clothes" href="#">Clothes</a></li>
        
      </div>
      </ul>


    <!--lay-out-->
    


  <!-- Page Content -->
  <div class="row" style="margin-left:3in;">
    <div class="column">
      <h2>Column</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis
        velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus
        leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
    </div>

    <div class="column">
      <h2>Column</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis
        velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus
        leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
    </div>


  </div>

</body>

<script src="/static/js/main.js"></script>
<script>
  $(document).ready(() => {
    //gaurd
    protectedPages();

    //gets the base url
    const baseUrl = editUrl(window.location.href);

    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
    }


    //test
    apiRequest('/user/all', "get")
      .then((resolve) => {
        console.log(resolve);
      }).catch((error) => {
        console.log(error);
      });


    //redirect route to dashboard
    $("#dashboard").click(() => {
      window.location.href = `${baseUrl}home`;
    });

    $("#gadgets").click(()=>{
      window.location.href = `${baseUrl}gadgets`;
    });

    $("#groceries").click(()=>{
      window.location.href = `${baseUrl}groceries`;
    });

    $("#clothes").click(()=>{
      window.location.href = `${baseUrl}clothes`;
    });

  });


</script>
</body>

</html>