<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--import jquery-3-->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/login.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


  <title>LogIn</title>

</head>

<body>
  <div class="h-100" style="background-image:url(static/image/bg2.jpg);background-size:cover"> 
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <center>
            <h3>Sign In</h3>
          </center>
          <div class="card-body">
            <form>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="email" class="form-control" id="email" placeholder="Email" required>

              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" id="password" class="form-control" placeholder="Password">
              </div>
              <div class="row align-items-center remember">
                <input type="checkbox">Remember Me
              </div>
              <div class="form-group">
                <input type="button" value="Login" id="login" class="btn float-right login_btn">
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-center links">
              Don't have an account?<a href="register.html">Sign Up</a>
            </div>
            <div class="d-flex justify-content-center">
              <a href="#">Forgot your password?</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/js/main.js"></script>
    <script>
      $(document).ready(() => {
        

        //get the base url
        const baseUrl = editUrl(window.location.href);

        $("#login").click(() => {
          //get the data from the input fields
          let errors = {};
          let user_credential = {};
          let email = $("#email").val();
          let password = $("#password").val();

          //validate email
          (isValidNames(email)) ? (isEmailValid(email)) ? user_credential["email"] = email : errors["email"] = "Invalid Email" : errors["email"] = "Invalid Email!";
          //validate password
          (isValidNames(password)) ? user_credential["password"] = password : errors["password"] = "Invalid password!";

          if (Object.keys(errors).length > 0) {
            console.log("Im here");
            for(let key of Object.keys(errors)){
              console.log(key);
              $(`#${key}`).val("");
              $(`#${key}`).css({"border":"solid red 2px"});
              $(`#${key}`)[0].placeholder=errors[key];
            }
          } else {
            apiRequest("/user/login", "post", user_credential)
              .then((resolve) => {
                alert("Successfully login!");
                console.log(resolve);
                localStorage.setItem("token", resolve.access_token);
                resetInputFields(["#email", "#password"]);


                window.location.href = `${baseUrl}home`;
              }).catch((error) => {
                if (error.responseJSON) {
                  alert(error.responseJSON.message);
                }
              });
          }
        });

      });
    </script>
</body>

</html>