<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- import jquery-3 -->
      <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <title>Register</title>
</head>
<body>

    <!-- do not change the id's -->
    <!-- sample login -->
    <div>
        <input type="text" placeholder="firstname" id="fname"><br>
        <input type="text" placeholder="lastname" id="lname"><br>
        <input type="text" placeholder="middlename" id="mname"><br>
        <input type="text" placeholder="password" id="pass"><br>
        <input type="text" placeholder="email" id="email"><br>
        <input type="number" placeholder="age" id="age"><br>
        <input type="number" placeholder="role" id="role"><br>
        <input type="submit" id="sub" value="Submit">
    </div>
    
    <script src="/static/js/main.js"></script>
</body>
</html>