<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- import jquery-3 -->
      <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="static/css/style.css">
      <title>Register</title>
</head>
<body>
    <div class="w3-container w3-teal">
      <center>
      <h1>SHOP INVENTORY SYSTEM</h1>
      </center>
    </div>
    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
      <h3 class="w3-bar-item">Menu</h3>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-tachometer" aria-hidden="true"><br></i>Dashboard</a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-hand-spock-o" aria-hidden="true"><br></i>Stocks</a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-money" aria-hidden="true"><br></i>Transactions</a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-product-hunt" aria-hidden="true"><br></i>Products</a>
    </div>

<body>
    <h1>This is Register</h1>
    <!-- do not change the id's -->
    <!-- sample login -->
    <div>
        <input type="text" placeholder="firstname" id="fname"><br>
        <input type="text" placeholder="lastname" id="lname"><br>
        <input type="text" placeholder="middlename" id="mname"><br>
        <input type="text" placeholder="password" id="pass"><br>
        <input type="text" placeholder="email" id="email"><br>
        <input type="number" placeholder="age" id="age"><br>
        <input type="number" placeholder="role" id="role"><br>
        <input type="submit" id="sub" value="Submit">
    </div>

    <script src="/static/js/main.js"></script>
    <script>
        $(document).ready(() => {ss

            //executes when the user clicks submit
            // this function will add new user
            $("#sub").click(() => {
                const newUser = {
                    firstname: $("#fname").val(),
                    lastname: $("#lname").val(),
                    middlename: $("#mname").val(),
                    password: $("#pass").val(),
                    email: $("#email").val(),
                    age: $("#age").val(),
                    roleId: $("#role").val()
                };

                apiRequest("http://localhost:3000/user/add", "post", newUser)
                    .then((resolve) => {
                        alert("added new user");
                        console.log(resolve);
                    }).catch((rejected) => {
                        console.log(rejected);
                    });
            });
        });
    </script>
</body>

</html>