/* Graph*/
 #chart-container {
  height: 600px;
  width: 500px;
  margin-top:120px;
  width:900px;
}

.logo {
  margin-left:110px;
  width:100px;
  position:absolute;
  margin-top: -6px;
}

.w3-container {
  background-color:aquamarine;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(50, 50, 50, 0.49);
  -moz-box-shadow:    0px 6px 5px 0px rgba(50, 50, 50, 0.49);
  box-shadow:         0px 6px 5px 0px rgba(50, 50, 50, 0.49);
}

/* hover admin */
.admin:hover {
  color: blue;
  text-decoration: underline;
}
  /*dashboard cards*/
  @import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700");
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
  .gr-1 {
    background: linear-gradient(170deg, #01e4f8 0%, #1d3ede 100%);
  }
  
  .gr-2 {
    background: linear-gradient(170deg, #b4ec51 0%, #429321 100%);
  }
  
  .gr-3 {
    background: linear-gradient(170deg, #c86dd7 0%, #3023ae 100%);
  }
  
  * {
    transition: 0.5s;
  }
  
  .h-100 {
    height: 100vh !important;
  }
  
  .align-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .col-hover {
    padding-left: 0;
  }
  .col-hover:hover .card .txt {
    margin-left: 1rem;
  }
  .col-hover:hover .card .txt h1,
  .col-hover:hover .card .txt p {
    color: white;
    opacity: 1;
  }
  .col-hover:hover a {
    color: white;
  }
  .col-hover:hover a:after {
    width: 10%;
  }
  
  .card {
    min-height: 170px;
    margin: 0;
    padding: 1.7rem 1.2rem;
    border: none;
    border-radius: 0;
    color: black;
    letter-spacing: 0.05rem;
    font-family: "Oswald", sans-serif;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
  }
  .card .txt {
    margin-left: -3rem;
    z-index: 1;
  }
  .card .txt h1 {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
  }
  .card .txt p {
    font-size: 0.7rem;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0rem;
    margin-top: 33px;
    opacity: 0;
    color: white;
  }
  .card a {
    z-index: 3;
    font-size: 0.7rem;
    color: black;
    margin-left: 1rem;
    position: relative;
    bottom: -0.5rem;
    text-transform: uppercase;
  }
  .card a:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    width: 0;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid white;
    transition: 0.5s;
  }
  .card .ico-card {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
  }
  .card i {
    position: relative;
    right: -50%;
    top: 60%;
    font-size: 12rem;
    line-height: 0;
    opacity: 0.2;
    color: white;
    z-index: 0;
  }

  /* footer */
  .site-footer
  {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
    margin-left:160px;
  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0;
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#00aced
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }